<!DOCTYPE html>
<html>
<head>
<meta>
<title>
    Machine Learning Dashboard Project
</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="barcode"></ion-icon></ion-icon></span>
                        <span class="title">SAML.AI</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="projects">
                        <span class="icon"><ion-icon name="folder-open-outline"></ion-icon></span>
                        <span class="title">Project</span>
                    </a>
                </li>
                <li>
                    <a href="data">
                        <span class="icon"><ion-icon name="analytics-outline"></ion-icon></span>
                        <span class="title">Data</span>
                    </a>
                </li>
                <li>
                    <a href="feature">
                        <span class="icon"><ion-icon name="logo-buffer"></ion-icon></span>
                        <span class="title">Feature</span>
                    </a>
                </li>
                <li>
                    <a href="model">
                        <span class="icon"><ion-icon name="logo-apple-ar"></ion-icon></span>
                        <span class="title">Model</span>
                    </a>
                </li>
                <li>
                    <a href="artifact">
                        <span class="icon"><ion-icon name="briefcase-outline"></ion-icon></span>
                        <span class="title">Artifacts</span>
                    </a>
                </li>
                <li>
                    <a href="deploy">
                        <span class="icon"><ion-icon name="cloud-upload-outline"></ion-icon></span>
                        <span class="title">Deploy</span>
                    </a>
                </li>
                <li>
                    <a href="predict">
                        <span class="icon"><ion-icon name="code-slash-outline"></ion-icon></span>
                        <span class="title">Prediction</span>
                    </a>
                </li>
                <li>
                    <a href="log">
                        <span class="icon"><ion-icon name="cog-outline"></ion-icon></span>
                        <span class="title">Logs</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- main -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <!-- search -->
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <!-- user -->
                <div class="user">
                    <img src="/static/images/user.jpg">
                </div>
            </div>

            <!-- card Header -->
            
            <div class="cardHeader">
                <h2>Projects</h2>
                <a href="#" class="btn">Create Project</a>
            </div>

            <div class="details">
                <!-- order details list -->
                <div class="recentOrders">                    
                    <table>
                        <thead>
                            <tr>
                                <td>NAME</td>
                                <td>USE CASE</td>
                                <td>DATASETS</td>
                                <td>MODELS</td>
                                <td>DEPLOYMENTS</td>
                                <td>CREATED</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>housing</td>
                                <td>Predictive Modelling</td>
                                <td>housing.csv</td>
                                <td>regression</td>
                                <td>heroku</td>
                                <td>Jul 25</td>
                            </tr>
                            <tr>
                                <td>credit_score</td>
                                <td>Predictive Modelling</td>
                                <td>credit.csv</td>
                                <td>regression</td>
                                <td>heroku</td>
                                <td>Jul 25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>  
    <script src="/static/lib/layout.js"></script> 
</body>
</html>